.create-poem-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

#left-part {
    grid-column: span 3;
    background: #eaeaea
}

#main-part {
    display: grid;
    grid-column: span 6;
    grid-template-rows: auto 1fr auto;
    
}

#main-part-form {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto auto auto;
    padding-left: 50px;
    padding-right: 50px;

}

#form-head-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-poem-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 15px
}

#input-field-h {
    border: 1px solid black;
 
    padding: 10px;
}

#form-poem-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
}

#check-box-part {
    display: flex;
    align-items: center;
}

#isVisible {
    display: none; /* Checkbox'ı gizler */
}

#check-box-part label {
    cursor: pointer;
}

#check-box-part label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 1px solid black;
    
    background-color: white;
    transition: background-color 0.3s ease;
}

#isVisible:checked + label::before {
    background-color: black; /* Checkbox işaretliyken dolu kutu rengi */
}

#button-part {
    display: flex;
    justify-content: flex-end;
  
}

#button-part button {
    padding:8px;
  
}

#main-part-header {
    text-align: center;
    padding: 10px;
}

#main-part-header p {
    font-family: "Poppins";
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
}


.submit-button-poem{
    border:1px solid black;
    padding: 3px;
   
}

#right-part {
    grid-column: span 3;
    background: #eaeaea
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .create-poem-page {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media (max-width: 768px) {
    .create-poem-page {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    #left-part, #right-part {
        display: none; /* Hide the left and right parts on small screens */
    }

    #main-part {
        grid-column: span 12;
    }

    #main-part-header p {
        font-size: 1.5em;
    }

    #input-field-h {
        padding: 0.5rem;
    }

    #form-poem-button-container {
        grid-template-columns: 1fr;
        padding-top: 10px;
    }

    #button-part {
        justify-content: center;
        padding-top: 10px;
    }

    #button-part button {
        width: 100%; /* Full width button on small screens */
    }
}

@media (max-width: 480px) {
    #main-part-header p {
        font-size: 1.2em;
    }

    #input-field-h {
        padding: 0.25rem;
    }

    #button-part button {
        font-size: 0.9em;
        padding: 6px;
    }
}
