
#p-about-part-1-static-content
{

    font-size: 1.0em;
    font-family: 'Poppins', sans-serif;
    padding:10px;
 
}

#p-page-left
{
    grid-template-rows: auto 1fr;
  

}
#button-part-st {
   
    
}

.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height based on your design */
    font-size: 16px;
    color: #666;
    text-align: center;
  }
